<!DOCTYPE html>
<html>

<head>
	<title>BATS</title>
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-orange.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="text/javascript"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/phonepad.css' />
    <link rel='stylesheets' href='stylesheets/dialer.css' />
</head>

<body>
<div class="demo-layout-transparent mdl-layout mdl-js-layout" >
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Profile</a>
      <a class="mdl-navigation__link" href="">Settings</a>
      <a class="mdl-navigation__link" href="">Logout</a>
    </nav>
  </div>
</div>
<!-- nav -->
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__tab-bar" style="background-color: orange;">
			<a href="#markets" class="mdl-tabs__tab is-active">Call</a>
			<a href="#sales" class="mdl-tabs__tab">Text</a>
			<a href="#pear-to-pear" class="mdl-tabs__tab">Contacts</a>
		</div>
		<div class="mdl-tabs__panel is-active" id="markets">
			<h1>lskjdj lsaldsk jlksjdljdslkjdljsdjk </h1>
                <!-- <div class="lightbox-blanket">
                    <div class="pop-up-container">
                    <div class="pop-up-container-vertical">
                        <div class="pop-up-wrapper">
                        <div class="phone-wrapper">
                            <div class="phone-pad">
                            <div class="phone-pad-input-panel">
                                <div class="phone-pad-input-add"><i class="fa fa-plus"></i></div>
                                <div class="phone-pad-input-text">
                                <input id="number-input" type="tel" readonly="readonly" />
                                </div>
                                <div class="phone-pad-input-remove"><i class="fa fa-remove"></i></div>
                            </div>
                            <div class="phone-pad-alert-panel" style="display:none;">
                            </div>
                            <div class="phone-pad-input-numbers">
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    1<span>&nbsp;</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    2<span>ABC</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    3<span>DEF</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    4<span>GHI</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    5<span>JKL</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    6<span>MNO</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    7<span>PQRS</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    8<span>TUV</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    9<span>WXYZ</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    *<span>&nbsp;</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    0<span>+</span>
                                    </div>
                                </div>
                                </div>
                                <div class="phone-pad-input-number">
                                <div class="input-number">
                                    <div class="number">
                                    #<span>&nbsp;</span>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="phone-pad-input-call">
                                <i class="fa fa-phone"></i>
                            </div>
                            </div>
                            <div class="phone-contacts-wrapper">
                            <div class="phone-contacts">
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div> -->
  <div class="random-background">
  </div>
		</div>
		<!-- Sales -->
		<script src="/javascripts/modals.js"></script>
		<div class="mdl-tabs__panel" id="sales">
			<h1>ksdjl skjlsd </h1>
		</div>
		<!-- Pear to Pear trade -->
		<div class="mdl-tabs__panel" id="pear-to-pear" style="text-align: center; ">
			<h1>kjhf djhk dsfhlkdjfh lsd</h1>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		</div>
	</div>
    <script src="/javascripts/phonepad.js"></script>
</body>
</html>