<!DOCTYPE html>
<html>

<head>
	<title>BATS</title>
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.deep_purple-orange.min.css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.0.umd.min.js" type="text/javascript"></script>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- <link rel='stylesheet' href='/stylesheets/phonepad.css' /> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel='stylesheet' href='/stylesheets/dialer.css' />
</head>

<body>
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<span class = "mdl-layout-title">B.A.T.S</span>
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation -->
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="/">Home</a>
                <a class="mdl-navigation__link" href="/metrics">Metrics</a>
				<a class="mdl-navigation__link" href="/login">Logout</a>
			</nav>
		</div>
        <!-- <div class="demo-layout-transparent mdl-layout mdl-js-layout"> -->
		<div class="demo-layout-transparent mdl-layout">
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Welcome back</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="#">Profile</a>
					<a class="mdl-navigation__link" href="#">Settings</a>
					<a class="mdl-navigation__link" href="/login">Logout</a>
					<a class="mdl-navigation__link"
						href="#"><span class = "material-icons mdl-badge" data-badge = "1" style="width: 10px;">account_box</span></a>
					<a class="mdl-navigation__link"
						href="#"><span class = "material-icons mdl-badge" data-badge = "1" style="width: 10px;">message</span></a>
					<a class="mdl-navigation__link"
						href="/metrics"><span class = "material-icons mdl-badge" data-badge = "⚑" style="width: 10px;">assessment</span>Weekly
						insights</a>
				</nav>
			</div>
		</div>
	</header>

	<!-- nav -->
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__tab-bar" style="background-color:;">
			<a href="#markets" class="mdl-tabs__tab is-active">Call</a>
			<a href="#sales" class="mdl-tabs__tab">Text</a>
			<a href="#pear-to-pear" class="mdl-tabs__tab">Contacts</a>
		</div>
		<div class="mdl-tabs__panel is-active" id="markets">
			
            <div class="container">
                <div id="output"></div>
                <div class="row">
                    <div class="digit" id="one">1</div>
                    <div class="digit" id="two">2
                    <div class="sub">ABC</div>
                    </div>
                    <div class="digit" id="three">3
                    <div class="sub">DEF</div>
                    </div>
                </div>
                <div class="row">
                    <div class="digit" id="four">4
                    <div class="sub">GHI</div>
                    </div>
                    <div class="digit" id="five">5
                    <div class="sub">JKL</div>
                    </div>
                    <div class="digit">6
                    <div class="sub">MNO</div>
                    </div>
                </div>
                <div class="row">
                    <div class="digit">7
                    <div class="sub">PQRS</div>
                    </div>
                    <div class="digit">8
                    <div class="sub">TUV</div>
                    </div>
                    <div class="digit">9
                    <div class="sub">WXYZ</div>
                    </div>
                </div>
                <div class="row">
                    <div class="digit">*
                    </div>
                    <div class="digit">0
                    </div>
                    <div class="digit">#
                    </div>
                </div>
                <div class="botrow"><i class="fa fa-star-o dig" aria-hidden="true"></i>
                    <div id="call"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    <i class="fa fa-long-arrow-left dig" aria-hidden="true"></i>
                </div>
            </div>
		</div>
        <script>
            var count = 0;

            $(".digit").on('click', function() {
                console.log("test");
                var num = ($(this).clone().children().remove().end().text());
                if (count < 11) {
                    $("#output").append('<span>' + num.trim() + '</span>');

                    count++
                }
            });

            $('.fa-long-arrow-left').on('click', function() {
            $('#output span:last-child').remove();
            count--;
            });
        </script>

		<!-- Text -->
        <style>
        *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background:  transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}

body{
  font: normal 16px/1.5 'Libre Franklin', Helvetica, Georgia, sans-serif, serif;
  background-color-gradient(blue, green);
  height: 100vh;
 
}

#pagewrap{
  max-width: 360px;
  margin: 3vh auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  color: #666;
  background-color: #f5f8f9;
}

header a{color: inherit; text-decoration: none; font-size: 1.5em; vertical-align: middle;}
header h3{font-weight: 400;}

.chatbox{
  background-color: #f5f8f9;
  padding: 10px 20px;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
}

.time{
  text-align: center;
  font-size: .70em;
  color: #666;
  margin-top: 30%;
  letter-spacing: 1.2px;
  word-spacing: 2px;
}

#message{
  width: 100%;
}

.matt-line{
  max-width: 70%;
  min-width: 10%;
  display: inline-block;
  font-size: .85em;
  position: relative;
  margin: 20% 0 3% 0;
  animation: scaler 150ms ease-out;
}

.matt-line p:after {
  content: "";
  display: block;
  position: absolute;
  left: -10px;
  top: 0;
  width: 0;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #444 transparent;
}

.matt-line p{
  background-color: #444;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  font-weight: 500;
}

#message:before, #message:after{
  content: "";
  display: block;
  clear: both;
}

#message li{
  background-color: #e5eaec;
  color: #222;
  font-size: .85em;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  margin: 1% 0;
  max-width: 70%;
  min-width: 10%;  
  float: right;
  word-wrap: break-word;
  clear: both;
  animation: scaler 150ms ease-out;
  font-weight: 500;
}

#message .first:after{
  content: "";
  display: block;
  position: absolute;
  right: -10px;
  top: 0;
  width: 0;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #e5eaec transparent;
}


.reply{
  padding: 15px 0;
  background-color: #f5f8f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.reply:before, .reply:after{
  content: "";
  display: block;
  clear: both;
}

.material-icons, input, button{
  float: left;
  margin: 3px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
}


.material-icons{
  color: #444; 
  font-size: 1.8em; 
  padding-top: 10px; 
  transform: rotate(-60deg);
  cursor: pointer;
}

input{
  width: 72%;
  padding: 10px;
  border: none;
  font-size: 1.2em;
  background-color: inherit;
}

input:focus, button:focus{
  outline: 0;
}

button{
  background-color: #222;
  color: #fff;
  padding: 15px 10px;
  width: 20%;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  letter-spacing: 1.2px;
}

.scroll{
  position: absolute;
  bottom: 0;
}




@keyframes scaler{
  0%{transform: scale(0)}
  100%{transform: scale(1)}
}
        </style>
		<div class="mdl-tabs__panel" id="sales">
			<div id="pagewrap">
				<header>
					<a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
					<h3 class="name">0x1de1c62459...</h3>
					<a href="#"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
				</header>

				<section class="chatbox">
					<ul id="message">

						<div class="matt-line">
							<p>Hey, I sent you an email. could you tell more about the report you sent yesterday?
							</p>
						</div>
						
					</ul>
				</section>

				<section class="reply" id="reply">
					<i class="material-icons">attachment</i></i>
					<form>
						<input type="text" placeholder="Type something">
						<button>Send</button>
					</form>
				</section>
			</div>
		</div>
        <script>
        var main = function() {

    $('form').submit(function(event) {
        var $input = $(event.target).find('input');
        var message = $input.val();

        if (message != "") {
            var html = $('<li>').text(message);
            html.appendTo('#message');
            $input.val("");
            $('#message')[0].scrollIntoView(false);
        }
        return false;
    });

   
  var currentdate = new Date(); 
    var datetime =
        currentdate.getDate() + "/"
             +(currentdate.getMonth()+1)  + "/" 
             + currentdate.getFullYear() + " at "  
             + currentdate.getHours() + ":"  
             + currentdate.getMinutes() + ":" 
             + currentdate.getSeconds();

    $('.time').html(datetime);
}

$(document).ready(main);

        </script>
		<!-- End of text -->
		<!-- Contacts -->
		<style>
			*,
			*:before,
			*:after {
				box-sizing: border-box;
			}

			#container {
				width: 320px;
				height: 568px;
				background: #fff;
				position: absolute;
				left: 50%;
				top: 50%;
				margin-top: -200px;
				margin-left: -160px;
				overflow: hidden;
			}

			#container.details .list-view {
				background: transparent;
				transition: background 0.5s;
				pointer-events: none;
			}

			#container.details .list-view li {
				transition: transform 0.3s, opacity 0.2s;
			}

			#container.details .list-view li:not(.active) {
				opacity: 0;
			}

			#container.details .list-view li.active {
				transform: translate3d(0, 140px, 0);
				border-color: rgba(255, 255, 255, 0);
				transition: transform 0.3s, opacity 0.2s, border-color 0.2s;
			}

			#container.details .list-view li.active:hover {
				background: none;
			}

			#container.details .details-view .back {
				transform: scale(1);
			}

			#container.details .details-view .background {
				transform: translate3d(0, -40px, 0);
				transition: transform 0.25s 0.05s;
			}

			#container.details .details-view li:nth-child(1) {
				transform: translate3d(0, 0, 0);
			}

			#container.details .details-view li:nth-child(2) {
				transform: translate3d(0, 0, 0);
			}

			#container.details .details-view li:nth-child(3) {
				transform: translate3d(0, 0, 0);
			}

			#container.details .details-view li:nth-child(4) {
				transform: translate3d(0, 0, 0);
			}

			#container .list-view {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				background: rgba(255, 255, 255, 1);
				z-index: 1;
				transition: background 0.3s 0.1s;
			}

			#container .list-view ul li {
				position: absolute;
				left: 0;
				right: 0;
				height: 70px;
				border-bottom-width: 1px;
				border-style: solid;
				border-color: #ddd;
				transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;
			}

			#container .list-view ul li .name {
				-webkit-font-smoothing: antialiased;
			}

			#container .list-view ul li:nth-child(1) {
				transform: translate3d(0, 0px, 0);
			}

			#container .list-view ul li:nth-child(2) {
				transform: translate3d(0, 70px, 0);
			}

			#container .list-view ul li:nth-child(3) {
				transform: translate3d(0, 140px, 0);
			}

			#container .list-view ul li:nth-child(4) {
				transform: translate3d(0, 210px, 0);
			}

			#container .list-view ul li:nth-child(5) {
				transform: translate3d(0, 280px, 0);
			}

			#container .list-view ul li:nth-child(6) {
				transform: translate3d(0, 350px, 0);
			}

			#container .list-view ul li:nth-child(7) {
				transform: translate3d(0, 420px, 0);
			}

			#container .list-view ul li:nth-child(8) {
				transform: translate3d(0, 490px, 0);
			}

			#container .list-view ul li:nth-child(9) {
				transform: translate3d(0, 560px, 0);
			}

			#container .list-view ul li:nth-child(10) {
				transform: translate3d(0, 630px, 0);
			}

			#container .list-view ul li:hover {
				background: #efefef;
				cursor: pointer;
			}

			#container .list-view ul li .avatar {
				content: '';
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: orange;
				background-size: 100%;
				margin: 15px 15px;
			}

			#container .details-view {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
				background: #fff;
			}

			#container .details-view .background {
				position: absolute;
				top: 0;
				height: 260px;
				width: 100%;
				background-color: orange;
				transition: transform 0.25s;
			}

			#container .details-view .back {
				position: absolute;
				top: 5px;
				left: 5px;
				width: 30px;
				height: 30px;
				background: url('https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/back-alt-128.png');
				background-size: 100%;
				border: 0;
				transform: scale(0.1);
				transition: transform 0.15s;
				z-index: 1;
			}

			#container .details-view ul {
				position: absolute;
				left: 0;
				right: 0;
				top: 225px;
			}

			#container .details-view li {
				height: 70px;
				line-height: 70px;
				border-bottom: 1px solid #ddd;
			}

			#container .details-view li i {
				font-size: 1.2rem;
				margin: 0 15px;
			}

			#container .details-view li:nth-child(1) {
				transform: translate3d(0, 30px, 0);
				transition: transform 0.3s 0s;
			}

			#container .details-view li:nth-child(2) {
				transform: translate3d(0, 35px, 0);
				transition: transform 0.3s 0.02s;
			}

			#container .details-view li:nth-child(3) {
				transform: translate3d(0, 40px, 0);
				transition: transform 0.3s 0.04s;
			}

			#container .details-view li:nth-child(4) {
				transform: translate3d(0, 45px, 0);
				transition: transform 0.3s 0.06s;
			}

			ul {
				list-style-type: none;
			}
		</style>
		<div class="mdl-tabs__panel" id="pear-to-pear" style="text-align: center; ">
			<br>
			<br>
			<div id="container">
				<div class="list-view">
					<ul>
						<li>
							<span class="avatar"></span>
							<span class="name">Wilfrid Wolfgang</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Mathias Bristol</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Tristin Bentley</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Edgar Roger</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Alois Ilya</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Gunter Darden</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Dwayne Thorben</span>
						</li>
						<li>
							<span class="avatar"></span>
							<span class="name">Waylon Thierry</span>
						</li>
					</ul>
				</div>
				<div class="details-view">
					<div class="back"></div>
					<div class="background"></div>
					<ul>

						<li><i class="fa fa-video-camera"></i>Co.:T-Mobile</li>
						<li><i class="fa fa-mobile"></i>Dept.: Accounts</li>
						<li><i class="fa fa-envelope"></i>Email: wwolfgang@tmobile.com</li>
						<li><i class="fa fa-home"></i>Desk No.: (328)723-1794</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	</div>
	</div>
	<script src="/javascripts/contacts.js"></script>
	<script src="/javascripts/phonepad.js"></script>
</body>

</html>